<a href="https://colab.research.google.com/github/PrinceJonaa/Data-Classification-Methods/blob/main/Data_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing libraries**

In [1]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

**Importing Data**

In [2]:
Names = ['Kim', 'Jerry', 'Tim', 'Mary', 'James', 'Tom', 'Keith', 'Sara', 'Raymond', 'Dennis', 'Larry', 'Bony', 'Beatrice', 'John', 'Harry', 'Bianca', 'Marshal', 'Mandy', 'David', 'Edward', 'Robert', 'Michael', 'Elaina', 'Cathy', 'Caroline', 'Samantha', 'Vicky', 'Clara', 'Richard'
, 'Stephen']
Weight = [40, 45, 47, 48, 49, 49, 54, 55, 56, 56, 57, 59, 63, 65, 67, 67, 69, 72, 75, 77, 79, 80, 80, 80, 81, 82, 85, 87, 88, 90]

**Creating *Dataframe* and storing it in a variable.**

In [3]:
d1 = pd.DataFrame({"Names": Names, 'Weight': Weight})

**Checking Dataframe by calling the variable**

In [4]:
d1

       Names  Weight
0        Kim      40
1      Jerry      45
2        Tim      47
3       Mary      48
4      James      49
5        Tom      49
6      Keith      54
7       Sara      55
8    Raymond      56
9     Dennis      56
10     Larry      57
11      Bony      59
12  Beatrice      63
13      John      65
14     Harry      67
15    Bianca      67
16   Marshal      69
17     Mandy      72
18     David      75
19    Edward      77
20    Robert      79
21   Michael      80
22    Elaina      80
23     Cathy      80
24  Caroline      81
25  Samantha      82
26     Vicky      85
27     Clara      87
28   Richard      88
29   Stephen      90

**Calcuating the mean**

In [7]:
d1['Weight'].mean (skipna = True)

66.73333333333333

**Calculating the median**

In [14]:
d1['Weight'].median (skipna = True)

67.0

**Calcuating the mode**

In [13]:
d1.mode (axis = 0, dropna = True, numeric_only = True)

   Weight
0      80

Calcuating the Range

In [12]:
d1['Weight'].min(), d1['Weight'].max()

(40, 90)

Interquartile range

In [9]:
def iqr(x):
  return np.subtract(*np.percentile(x, [75, 25]))

d1[['Weight']].apply(iqr)

Weight    24.75
dtype: float64

Variance

In [10]:
d1['Weight'].var (skipna = True)

217.8574712643678

Standard Deviation

In [11]:
d1['Weight'].std (skipna = True)

14.759995639036205